#navbarNav{
    justify-content: flex-end;
}
.nav-item{
    padding: 15px;
}
li.nav-item:hover{
    font-weight: bold;
}
#btnlogin:hover{
    background-color: rgb(14, 95, 142);
}
#btnlogin
{
    width: 120px;
    border-radius: 20px;
    background-color: rgba(0, 132, 127, 255);
    color: white;
    font-weight: bold;
}
#subbtn:hover{
    background-color: orangered;
    color: rgba(250, 239, 128, 255) ;
}
#main button:hover{
    background: none;
    color: rgba(250, 239, 128, 255) ;
}

.list1 a:hover{
    color: rgba(250, 239, 128, 255) ;
}
.list1 a{
    list-style: none;
    color: white;
    text-decoration: none;
}

#main {
    text-align: center;
    background-image: url("header\ bg.jpg");
    width: 100%;
    border: solid 1px black;
    background-size: cover;
}

#main h3 {
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main h5 {
    font-size: xx-large;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(138, 81, 131, 255);
    margin-bottom: 50px;
}

p {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#main img {
    position: absolute;
    top: 150px;
    left: 15px;
}

#main1 {
    text-align: center;
    background-image: url("main\ bg\ hd.jpg");
    width: 100%;
    border: solid 1px black;
    background-size: cover;
    position: relative;
    padding-bottom: 25px;
}

#mainpara {
    margin: 50px;
    text-align: justify;
    padding-left: 125px;
    padding-right: 125px;
    margin-left: 125px;
    margin-right: 125px;
}

#ftr {
    background-color: rgba(103, 157, 203, 255);
    text-align: left;
}

#ftrlogo {
    height: 100px;
}

#ftrlogo2 {
    position: absolute;
    height: 100px;
    right: 10px;
    margin-bottom: 10px;
}

#ftr li {
    list-style: none;
    margin: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    ;
    color: white;
}

.list1 {
    float: left;
}

#ftr ul {
    overflow: auto;
}

.boldlist {
    font-weight: bold;
    color: rgba(250, 239, 128, 255);
}

.alllist {
    position: relative;
    left: -75px;
}

#para2 {
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
}

#subcribe {
    size: 100%;
}

#subbtn {
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    background-color: rgba(250, 239, 128, 255);
    color: black;
}
.accordion-item{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
#accordionFlushExample{
    padding: 40px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
}
@media(max-width:600px){
    #navbarNav{
        text-align: center;
    }
    #main {
        text-align: center;
        height: 250px;
        background-image: url("header\ bg.jpg");
        width: 100%;
        border: solid 1px black;
        background-size: cover;
        padding: 25px;
    }
    #main h5 {
        font-size: x-large;
        font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgba(138, 81, 131, 255);
        margin-bottom: 25px;
        margin-top: 25px;
        text-align: center;
    }
    #mainpara {
        margin: 25px;
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 25px;
    }
    #main1 {
        text-align: center;
        background-image: url("main\ bg\ hd.jpg");
        width: 100%;
        border: solid 1px black;
        background-size: cover;
        position: relative;
        padding-bottom: 25px;
        padding-top: 15px;
    }
    .accordion-item{
        width: 200px;
        margin-right: 200px;
        margin-left: 0px;
        padding-left: 0px;
    }
    .accordion accordion-flush{
        display: flex;
        justify-content: left;
        float: left;
    }
}